# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment files
.env
.env.*.local
.env.local

# Build / cache
.cache
.parcel-cache
.vite
.turbo
dist
out
.next
.nuxt

# Coverage
coverage

# Yarn v2+ cache and releases
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/patches
!.yarn/sdks
!.yarn/versions

# Misc
.pnp.*
.cache-loader

# Generated data
public/data/
*.pdf
